* {
  
 padding: 0;
 margin: 0;

}
.loader {
 border-top-color: #fff;
 animation: spin 1s linear infinite;
}

@keyframes spin {
 0% {
   transform: rotate(0deg);
 }
 100% {
   transform: rotate(360deg);
 }
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
