
@import "tailwindcss";

@theme {  
    --color-one: #730FC9; 
    --color-two: #6010A5; 
    --color-three: #6810B4; 
    --color-four: #F0E7F7;
    --color-five: #D01025;
    --color-six: #4CAF50;
    --color-seven: #F7F3FB;
    --color-eight: #C0ABD533;
    --color-nine: #4B4B59;
    --color-ten: #707070;
    --color-elven: #8640C3;
    --color-twelve: #414141;
    --color-thirteen: #484848;
    --color-landone:rgba(115, 15, 201, 1);
    --color-landtwo:rgba(79, 79, 79, 1);
    --color-landthree:rgba(255, 206, 2, 1);
    --color-landfour:rgba(96, 16, 165, 1);
    --color-landfive:rgba(255, 250, 230, 1);
    --color-landsix:rgba(52, 52, 52, 1);
    --color-landseven:rgba(72, 72, 72, 1);
    }
